@import 'https://urimovchan.github.io/helpful/css/reset.css';

html {
    width: 100%;
    height: 100%;
    background: #E5E5E5;
}
body {
    position: relative;
    width: 1600px;
    margin: 0 auto;
    background: #FFFFFF;
}
header {
    height: 80px;
}
nav {
    position: relative;
}
h2 {
    height: 42px;
    margin-bottom: 50px;
    color: #212121;
    font: normal bold 36px/42px Roboto;
    letter-spacing: 0.03em;    
}
.logo {
    position: absolute;
    top: 24px;
    left: 215px;
    height: 31px;
    width: 145px;
    text-align: left;
    color: #212121;
    font: normal bold 26px/31px Raleway;
    text-decoration: none;
}
.logo span {
    color: #2196F3;
}
.logo:hover {
    text-decoration: none;
}

.main-links {
    position: absolute;
    top: 32px;
    left:453px;
    width: max-content;
    

}
.main-links li {
    display: inline-block;
    margin-right: 50px;
    font: normal 500 14px/16px Roboto;
    letter-spacing: 0.02em;
}
.main-links li a{
    color: #212121;
    font: normal 500 14px/16px Roboto;
    text-decoration: none;
}
.main-links li.active a{
    color: #2196F3;
}

.main-mail-tel {
    position: absolute;
    top: 32px;
    left: 1078px;
}
.main-mail-tel li {
    display: inline-block;
    margin-left: 50px;
    font: normal 500 14px/16px Roboto;
    letter-spacing: 0.02em;
}
.main-mail-tel li a {
    color: #757575;
    font: normal 500 14px/16px Roboto;
    text-decoration: none;
}

.bussines-solution {
    width: 100%;
    height: 600px;
    color: #fff;
    background: #2F303A;
}
.bussines-solution h1 {
    position: absolute;
    margin-top: 200px;
    left: 452px;
    width: 696px;
    height: 120px;
    font: normal 900 44px/60px Roboto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.bussines-solution button {
    position: absolute;
    margin-top: 350px;
    left: 700px;
    width: 200px;
    height: 50px;
    color: #fff;
    font: normal 900 16px/30px Roboto;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   
}
.features {
    position: relative;
    margin: 94px 0 94px 215px;
    letter-spacing: 0.03em;
}
.features li {
    display: inline-block; 
    width: 270px;
    margin-right: 30px;
}
.features li:last-child {
    margin-right: 0;
}
.features h2 {
    height: 16px;
    margin-bottom: 10px;
    color: #212121;
    font: normal bold 14px/16px Roboto;
    text-transform: uppercase;
}
.features p {
    height: 75px;
    color: #757575;
    font: normal normal 14px/24px Roboto;
}
.what-we-do {
    position: relative;
    width: 1170px;
    height: 386px;
    margin: 94px 0 94px 215px;
    text-align: center;
}
.what-we-do h2 {
    height: 42px;
    margin-bottom: 50px;
}
.what-we-do li {
    display: inline-block;
    width: 370px;
    height: 294px;
    margin-right: 26px;
}
.what-we-do li:last-child {
    margin-right: 0;
}
.our-team {
    position: relative;
    padding: 94px 215px;
    height: 648px;
    background: #F5F4FA;
    text-align: center;
}

.our-team ul {
    width: 1170px;
}
.our-team li {
    display: inline-block;
    width: 270px;
    height: 368px;
    margin-right: 26px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team li:last-child {
    margin-right: 0;
}
.our-team--info {
    margin: 30px auto;
    font: 500 16px/19px roboto;
}
.our-team--info-name {
    display: block;
    margin-bottom: 10px;
    
}
.our-team--info-profesion {
    display: block;
    color: #757575;
    font-weight: normal;
}

.container {
    width: 1170px;
    margin: 94px auto;
}
.filter {
    display: flex;
    justify-content: center;
}   
.filter li {
    margin-right: 8px;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0,03em;
    text-align: center;
    color: #212121;
    
}
.filter li.active {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -30px -30px 0;
}
.portfolio > li {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio > li {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.portfolio img {
    display: block;
    width: 370px;
    height: 294px;
}
.portfolio-name {
    margin: 20px 24px;
    flex-direction: column;    
}
.portfolio-name li {
    margin-bottom: 4px;  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-name li:last-child {   
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 252px;
    padding:  60px 0 60px 215px;
    background: #2F303A;
}
address li, address a {
    margin-bottom: 9px;
    color: #fff;
    font: normal normal 14px/24px Roboto;
}
.address {
    height: 21px;
}

.footer-mail-tel a{
    
    opacity: 0.6;
    text-decoration: none;
}
.footer.logo {
    position: relative;
    top:0;
    left: 0;
    display: block;
    margin-bottom: 20px;
}
